apiVersion: v1
kind: Config
users:
- name: testname
    user:
        token: 
clusters:
- cluster:
    certificate-authority-data: 
    server: 
  name: ods-deployment-cluster
contexts:
- context:
    cluster: ods-deployment-cluster
    user: testname
  name: ods-deployment-context
current-context: ods-deployment-context
